.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    grid-area: head;
}

.header_left{
    display: flex;
}

.header_logo {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    margin-right: 30px;
    color: #220e07;
}

.header_logo span {
    padding: 0 3px;
    background-color: #FF6600FF;
    color: white;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}